extends layout

block body
  body.hold-transition.login-page
    .login-box
      .card.card-outline.card-primary
        .card-header.text-center
          a.h2(href='/')
            b=appFirstName + " "
            =appLastName
        .card-body
          p.login-box-msg You forgot your password? Here you can easily retrieve a new password.
          form(action='recover-password', method='post')
            .input-group.mb-3
              input.form-control(type='email', placeholder='Email')
              .input-group-append
                .input-group-text
                  span.fas.fa-envelope
            .row
              .col-12
                button.btn.btn-primary.btn-block(type='submit') Request new password
              // /.col
          p.mt-3.mb-1
            a(href='/login') Login
        // /.login-card-body
    // /.login-box
    // jQuery
    script(src=template + '/plugins/jquery/jquery.min.js')
    // Bootstrap 4
    script(src=template + '/plugins/bootstrap/js/bootstrap.bundle.min.js')
    // AdminLTE App
    script(src=template + '/dist/js/adminlte.min.js')